@model ChangePasswordModel
@using (Ajax.BeginForm("changepassword", "settings",
                       new AjaxOptions
                           {
                               UpdateTargetId = "result",
                               InsertionMode = InsertionMode.Replace,
                               HttpMethod = "Post",
                               OnSuccess = "ClearValidationErrors('#change-password', xhr)",
                               OnFailure = "ReloadForm('#change-password', xhr)"
                           },
                       new {@id = "change-password"}))
{
    <div class="row">
        <div class="span4">
             <div id="result"></div>
            @Html.ValidationSummary(false)
            <div class="control-group">
                @Html.LabelFor(m => m.OldPassword, new {@class = "control-label"})
                <div class="controls">
                    @Html.PasswordFor(m => m.OldPassword, new {@class = "input-large"})
                    @Html.ValidationMessageFor(m => m.OldPassword)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(m => m.NewPassword, new {@class = "control-label"})
                <div class="controls">
                    @Html.PasswordFor(m => m.NewPassword, new {@class = "input-large"})
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(m => m.ConfirmPassword, new {@class = "control-label"})
                <div class="controls">
                    @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "input-large"})
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>
            </div>
            <div>
                <button class="btn-primary" type="submit">Change Password</button>
            </div>
        </div>
    </div>
}