@model ForgotPasswordModel
@{
    ViewBag.Title = "Reset Password";
}
@section pageribbon {
    <div class="ribbon blue down">
        <h1>Forgot Your Password?</h1>
    </div>
}
@section Scripts {
    
}
<div class="row">
    <div class="span5 offset3">
        <div class="alert alert-success @Model.ShowResult"><a class="close" data-dismiss="alert" href="#">×</a><span>@Model.Result</span></div>
        @using (Html.BeginForm("sendforgotpassword", "login", new {area = "account"}, FormMethod.Post, new {@class = "well form-horizontal"}))
        {
            @Html.ValidationSummary(true, "Invalid token, please try again.")

            <fieldset>
                <p>Enter your email address below and we'll send you a link to reset your password.</p>
                <div class="control-group">
                    @Html.LabelFor(m => m.Email, new {@class = "control-label"})
                    <div class="controls">
                        @Html.TextBoxFor(m => m.Email, new {@class = "input-xlarge"})
                    </div>
                </div>

                <div class="form-actions">
                    <button type="submit" class="btn btn-signin pull-right">Reset</button>
                </div>
            </fieldset>
        }
    </div>
</div>