@model ResetPasswordModel
@{
    ViewBag.Title = "Reset Password";
}
@section pageribbon {
    <div class="ribbon blue down">
        <h1>Reset Password</h1>
    </div>
}
@section Scripts {
}
<div class="row">
    <div class="span5 offset3">
        @using (Html.BeginForm("resetpassword", "login"))
        {
            <div class="row">
                <div class="span4">
                    <div id="result"></div>
                    @Html.ValidationSummary(false)
                    <div class="control-group">
                        @Html.LabelFor(m => m.NewPassword, new {@class = "control-label"})
                        <div class="controls">
                            @Html.PasswordFor(m => m.NewPassword, new {@class = "input-large"})
                            @Html.ValidationMessageFor(m => m.NewPassword)
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new {@class = "control-label"})
                        <div class="controls">
                            @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "input-large"})
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </div>
                    </div>
                    <div>
                        <button class="btn-primary" type="submit">Change Password</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>